<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>299009765894-1me7dfhovc7t632ki4jverl1ubc3kflo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.299009765894-1me7dfhovc7t632ki4jverl1ubc3kflo</string>
	<key>API_KEY</key>
	<string>AIzaSyCfeSaMtxuvNS_V0rg2G1JlQsnA5nIEBJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>299009765894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xyz.qruto.budgetApp</string>
	<key>PROJECT_ID</key>
	<string>qruto-budget</string>
	<key>STORAGE_BUCKET</key>
	<string>qruto-budget.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299009765894:ios:b38b5e083900da03b0c987</string>
</dict>
</plist>